<div class="container-fluid login">
  <div class="col-xs-12 col-sm-12 noPadding lgMarginTop">
    <img src="assets/images/logo.png" class="img-responsive" alt="logo">
  </div>
  <div class="col-xs-12 col-sm-12 noPadding mdMarginTop">
      <input type="email" class="form-control" id="usr" placeholder="username">
  </div>
  <div class="col-xs-12 col-sm-12 noPadding smMarginTop ">
      <input type="password" class="form-control " id="pass" placeholder="password">
      <p class="colorWhite smMarginTop">Forgot Password ?</p>
  </div>
  <div class="col-xs-12 col-sm-12 noPadding smMarginTop text-center">
      <button class="btn-default btn" routerLink="/home" >Login</button>
  </div>
  
</div>


