
<app-header></app-header>
<div class="PageTitle">{{title}}</div>
<div class="container-fluid">
  <div class="panel-group mdMarginBtm3" id="accordion1">
     <div class="panel panel-default">
        <div class="panel-heading boxShadow">
         <img src="assets/images/trial.png" class="img-responsive homeImg2" alt="logo">
            <h4 class="panel-title xlMarginLeft"><a  data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">Trail Assistant</a></h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="panel-body">
                    <div class="panel-group" id="accordion21">
                        <div class="panel">
                            <a data-toggle="collapse" data-parent="#accordion21" href="#collapseOneOne">
                              <div class="col-xs-12 col-sm-12 listHead">General & Safety Assessments <i class="fal fa-angle-down fa-lg"></i></div>
                            </a>
                            <div id="collapseOneOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                  <div class="panel">
                                    <div class="col-xs-12 col-sm-12 noPadding listHead">Informed Consent</div>
                                  </div>
                                  <div class="panel">
                                    <a data-toggle="collapse" data-parent="#accordion21.1" href="#collapseOneOne1">
                                        <div class="col-xs-12 col-sm-12 noPadding listHead">Physical Examination <i class="fal fa-angle-down fa-lg"></i></div>
                                    </a>
                                    <div id="collapseOneOne1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="col-xs-12 col-sm-12 noPadding listHead">Why Physical Examination?</div>
                                            <div class="col-xs-12 col-sm-12 noPadding listHead">Body region and systems</div>
                                            <div class="col-xs-12 col-sm-12 noPadding listHead">Significant Findings</div>
                                        </div>
                                    </div>
                                  </div>
                                <div class="panel">
                                    <div class="col-xs-12 col-sm-12 noPadding listHead">Height Measurement</div>
                                </div>
                                <div class="panel">
                                        <div class="col-xs-12 col-sm-12 noPadding listHead">Weight Measurement</div>
                                     </div>
                                     <div class="panel">
                                        <a data-toggle="collapse" data-parent="#accordion21.2" href="#collapseOneOne2">
                                            <div class="col-xs-12 col-sm-12 noPadding listHead">Vital signs <i class="fal fa-angle-down fa-lg"></i></div>
                                        </a>
                                        <div id="collapseOneOne2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="col-xs-12 col-sm-12 noPadding listHead">Heart Rate</div>
                                            <div class="panel">
                                                <a data-toggle="collapse" data-parent="#accordion21.11" href="#collapseOneOne11">
                                                    <div class="col-xs-12 col-sm-12 noPadding listHead">Blood Preassure Measurement <i class="fal fa-angle-down fa-lg"></i></div>
                                                </a>
                                                <div id="collapseOneOne11" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <div class="col-xs-12 col-sm-12 noPadding listHead">Blood Preassure Equipment</div>
                                                        <div class="col-xs-12 col-sm-12 noPadding listHead">Guidelines for measuring blood pressure</div>
                                                    </div>
                                                </div>
                                              </div>
                                        </div>
                                        </div>
                                    </div>
                                <div class="panel">
                                        <div class="col-xs-12 col-sm-12 noPadding listHead">Medication History</div>
                                </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <div class="panel-group" id="accordion22">
                            <div class="panel">
                                <a data-toggle="collapse" data-parent="#accordion22" href="#collapseOneTWo">
                                  <div class="col-xs-12 col-sm-12 listHead ">Safety Laborotory Assessments <i class="fal fa-angle-down fa-lg"></i></div>
                                </a>
                                <div id="collapseOneTWo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                      <div class="panel">
                                        <a data-toggle="collapse" data-parent="#accordion22.1" href="#collapseOneTWo1">
                                            <div class="col-xs-12 col-sm-12 noPadding listHead">Hematology <i class="fal fa-angle-down fa-lg"></i></div>
                                        </a>
                                        <div id="collapseOneTWo1" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="col-xs-12 col-sm-12 noPadding listHead">Inclusion Criteria</div>
                                                <div class="col-xs-12 col-sm-12 noPadding listHead">Exclusion Criteria</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel">
                                            <a data-toggle="collapse" data-parent="#accordion22.2" href="#collapseOneTWo2">
                                                <div class="col-xs-12 col-sm-12 noPadding listHead">Bio-chemistry & Serology <i class="fal fa-angle-down fa-lg"></i></div>
                                            </a>
                                            <div id="collapseOneTWo2" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <div class="col-xs-12 col-sm-12 noPadding listHead">Inclusion Criteria</div>
                                                    <div class="col-xs-12 col-sm-12 noPadding listHead">Exclusion Criteria</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                </div>
            </div>
        </div>
    </div>
</div> 


<div class="panel-group" id="accordion2">
    <div class="panel panel-default">
        <div class="panel-heading boxShadow">
                <img src="assets/images/enrolment.png" class="img-responsive homeImgS fLeft" alt="logo">
            <h4 class="panel-title">
                <a class="blueColor">Enrolment Enhancer</a>
            </h4>
        </div>
    </div>
</div> 


<div class="panel-group" id="accordion2">
    <div class="panel panel-default">
        <div class="panel-heading boxShadow">
            <img src="assets/images/patient.png" class="img-responsive homeImgS fLeft" alt="logo">
            <h4 class="panel-title">
                <a class="blueColor">Patient Pal</a>
            </h4>
        </div>
    </div>
</div> 

<div class="panel-group" id="accordion2">
    <div class="panel panel-default">
        <div class="panel-heading boxShadow">
            <img src="assets/images/learning.png" class="img-responsive homeImgS fLeft" alt="logo">
            <h4 class="panel-title">
                <a class="blueColor">Learning Portal</a>
            </h4>
        </div>
    </div>
</div> 

<div class="panel-group" id="accordion2">
    <div class="panel panel-default">
        <div class="panel-heading boxShadow">
            <img src="assets/images/meeting.png" class="img-responsive homeImgS fLeft" alt="logo">
            <h4 class="panel-title">
                <a class="blueColor">Meeting Assistant</a>
            </h4>
        </div>
    </div>
</div>

        
 </div>